@media (min-width: 638px) {
    .video-sizing {
        height: 500px;
        width: 800px;
    }

    .view-more-btn {
        width: 15% !important;
    }
}

@media (max-width: 638px) {
    .swiper-button-next,
    .swiper-button-prev{
        display: none !important;
    }
    .swiper-pagination {
        position: absolute;
        left: 45%;
        bottom: -15%;
    }
}

@media (max-width: 638px) {
    .what-we-do-topics {
        padding-left: 10% !important;
    }
}

@media (min-width: 1031px) {
    .what-we-do-heading-top {
        display: none;
    }

    .what-we-do-container {
        padding-right: 8rem !important;
    }

    .about-us-heading-top {
        display: none;
    }
}

@media (max-width: 1030px) {
    .what-we-do-heading {
        display: none;
    }

    .what-we-do-container {
        padding-right: 0 !important;
    }

    .about-us-heading-about {
        display: none;
    }
}

@media (min-width: 950px) {
    .about-mentor {
        line-height: 1.5 !important;
        font-size: 1.5rem !important;
    }
}

@media (min-width: 1023px) {
    .mentor-photo {
        left:20% !important;
    }
}



/* Large (lg) */
@media (min-width: 1015px) {
    .features-heading {
        right: 4% !important;
        top: 35%;
        font-size: 6rem !important;
    }

    .features-icon {
        font-size: 2.5rem;
    }

    .about-head-parent {
        width: 28.333333% !important;
    }

    .about-us-heading-about {
        top: 5%;
        font-size: 6rem !important;
    }

    .about-us-heading {
        left: 0% !important;
        top: 5%;
        font-size: 6rem !important;
    }

    .carousel {
        margin-left: 33%;
    }

    .carousel-content {
        padding: 19rem !important;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* ... */
}

@media (min-width: 1590px) {}